@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700&display=swap');


html{
  overflow-x: hidden;
}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
   list-style: none !important;
   text-decoration: none !important;
}

.spotcubeMean{
    background-image: url('../images/text-bg1.png');
    background-position: center;
    background-size: cover;
    padding-top: 60px;
}
.mean-custom-main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mean-custom-main1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mean-cumstom1{
  display: flex;
  justify-content: center;
  align-items: center;

}
.mean{
    padding-top: 100px;
    padding-bottom: 80px;
    color: white;
    font-size: 16px;
    text-align: justify;
    width: 75%;
  }
  .mean h4{
    font-family:var(--sub-font-family);
    line-height:var(--sub-line-height);
    letter-spacing:var(--sub-letter-spacing) ;
    text-align: var(--sub-text-align);
    color: var(--sub-heading-color);
    /* font-size: var(--sub-font-size); */
    font-size: 28px;
  }
  .mean p{
    margin: 0;
    padding: 2px;
  }
.para-space{
  padding-bottom: 10px !important;
}
.img1 img{
  width: 200px;
}
.img1 img{
  animation: ripple2Ani 4s linear infinite;
}
@keyframes ripple2Ani {
0% {
  transform: translate(0px, 0px);
}
33% {
  transform: translate(-5px, -5px);
}
66% {
  transform: translate(5px, 5px);
}
100% {
  transform: translate(0px, 0px);
}
}
.img2 img{
  width: 200px;
}
.img2 img{
  animation: ripple2Ani 4s linear infinite;
}
@keyframes ripple2Ani {
0% {
  transform: translate(0px, 0px);
}
33% {
  transform: translate(-5px, -5px);
}
66% {
  transform: translate(5px, 5px);
}
100% {
  transform: translate(0px, 0px);
}
}
.img3 img{
  width: 200px;
}
.img3 img{
  animation: ripple2Ani 4s linear infinite;
}
@keyframes ripple2Ani {
0% {
  transform: translate(0px, 0px);
}
33% {
  transform: translate(-5px, -5px);
}
66% {
  transform: translate(5px, 5px);
}
100% {
  transform: translate(0px, 0px);
}
}

.content-text h4{
  font-family:var(--sub-font-family);
  line-height:var(--sub-line-height);
  letter-spacing:var(--sub-letter-spacing) ;
  text-align: var(--sub-text-align);
  color: var(--sub-heading-color);
  /* font-size: var(--sub-font-size); */
  font-size: 28px;
}
.content-text p{
  /* line-height: 1.3; */
  /* font-size: var(--para-font-size); */
font-size: 18px;
font-family:var(--para-font-family) ;
line-height:var(--para-line-height) ;
letter-spacing:var(--para-letter-spacing) ;
text-align: var(--para-text-align);
color: white;
}
li.list-mean{
  /* padding-bottom: 10px !important; */   
  color: var(--para-color);
  text-align: var(--para-text-align);
  line-height: var(--para-line-height);
  letter-spacing: var(--para-letter-spacing);
  font-size: 18px !important;
  font-family: var(--para-font-family);
}

@media screen and (max-width: 1199px){
  button.navbar-toggler.colapse-btn{
    position: absolute;
    right: 153px !important;
    top: 40px !important;
  }
  .content-text p {
    font-size: 17px !important;
}
button.navbar-toggler.colapse-btn {
  right: 120px !important;
}
}

@media screen and (max-width: 991px){
.mean-custom-main{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.mean-custom-main1{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.mean-cumstom1 {
  justify-content: flex-end !important;
}
li.list-mean {
  font-size: 17px !important;
}
.mean-cumstom2{
  display: flex;
  justify-content: flex-start !important;
}
.mean-cumstom3{
    display: flex !important;
    justify-content: end !important;
}
.mean-cumstom4{
  display: flex !important;
  justify-content: end !important;
}
.mean-cumstom5 {
  display: flex !important;
  justify-content: flex-end !important;
}
.mean-cumstom6 {
  display: flex !important;
  justify-content: end !important;
}
.mean-cumstom7 {
  display: flex !important;
  justify-content: end !important;
}
.mean-cumstom8 {
  display: flex !important;
  justify-content: end !important;
}
.mean-cumstom9 {
  display: flex;
  justify-content: end;
}
}

@media screen and (max-width: 767px){

.mean-custom-main1 {
  flex-direction: column-reverse;
}
.mean-cumstom1 {
  justify-content: center !important;
}
.mean-cumstom2 {
  justify-content: center !important;
}
.mean-cumstom3 {
  justify-content: center !important;
}
.mean-cumstom4 {
  justify-content: center !important;
}
.mean-cumstom5 {
  justify-content: center !important;
}
.mean-cumstom6 {
  justify-content: center !important;
}
.mean-cumstom7 {
  justify-content: center !important;
}
.mean-cumstom8 {
  justify-content: center !important;
}
.mean-cumstom9 {
  justify-content: center !important;
}

.mean h4 {
  font-size: 25px !important;
}
.content-text p {
  font-size: 16px !important;
}
li.list-mean {
  font-size: 16px !important;
}

}
@media screen and (max-width: 576px){
.mean h4 {
  font-size: 22px !important;
}
.content-text p {
  font-size: 16px !important;
}
.content-text p {
  font-size: 16px !important;
}
button.navbar-toggler.colapse-btn {
  right: 55px !important;
}
a.navbar-brand.nav-logo {
  left: 30px !important;
}
}

@media screen and (max-width: 375px){
  .mean h4 {
    font-size: 20px !important;
  }
  .content-text p {
    font-size: 14px !important;
  }
  li.list-mean {
    font-size: 14px !important;
}
  a.navbar-brand.nav-logo {
    left: 25px !important;
}
button.navbar-toggler.colapse-btn {
  right: 40px !important;
}
.img1 img {
  width: 160px !important;
}
.img2 img {
  width: 160px;
}
.img3 img {
  width: 160px !important;
}
  }







