.solution_section {
    background-image: url('../images/wallet-bg.png');
    background-repeat: no-repeat;
    position: relative;
    padding-top: 100px;
    background-position: center;
    padding-bottom: 155px;
  }

  .overview-text h3 {
    background-color: #0391e466;
    color: var(--para-color);
    padding: 15px 35px;
    font-size: var(--para-font-size);
    line-height: var(--para-line-height);
    font-family: var(--para-font-family);
    letter-spacing: var(--para-letter-spacing);
    border: 2px solid #0391e4;
    border-top-right-radius: 45px;
    line-height: var(--para-line-height);
    font-weight: 500;
  }

  .solution_detail_points ol li {
    color: #fff;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 400;
  }

  .solution_detail_points ol li b {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .solution_detail_points ul li {
    padding-bottom: 3px !important;
  }

  /* .card{
      border: none;
    }
    .custom-header{
  padding: 20px 0px;
  border-color: green;
  background-color: green;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
    }
    .card-heading{
    padding: 0px 0px;
  border-color: green;
  background-color: green;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
    } */
  ol li.list-bullets {
    /* padding-bottom: 10px !important; */
    color: var(--para-color);
    text-align: var(--para-text-align);
    line-height: var(--para-line-height);
    letter-spacing: var(--para-letter-spacing);
    /* font-size: var(--para-font-size); */
    font-size: 18px;
    font-family: var(--para-font-family);
  }

  .list-bullets1 li {
    /* padding-bottom: 10px !important; */
    color: var(--para-color);
    text-align: var(--para-text-align);
    line-height: var(--para-line-height);
    letter-spacing: var(--para-letter-spacing);
    /* font-size: var(--para-font-size); */
    font-size: 18px;
    font-family: var(--para-font-family);
  }

  @media screen and (max-width: 1199px){
    .solution_detail_points ol li b {
        font-size: 20px !important;
    }
    ol li.list-bullets {
        font-size: 17px !important;
    }
    .overview-text h3 {
        padding: 10px 30px;
    }
    .first-heading h3 {
        font-size: 20px !important;
    }
    .list-bullets1 li {
        font-size: 17px !important;
    }
  }
  @media screen and (max-width: 991px){
    .solution_detail_points ol li b {
        font-size: 20px !important;
    }
    ol li.list-bullets {
        font-size: 16px !important;
    }
    .first-heading h3 {
        font-size: 18px !important;
    }
    .list-bullets1 li {
        font-size: 16px !important;
    }
    .overview-text h3 {
        padding: 10px 30px !important;
        font-size: 16px !important;
    }
    .custom-solution-page .third-img {
        top: 228px !important;
    }
    a.navbar-brand.nav-logo {
        left: 120px !important;
    }
    .solution_detail_points ol li {
        font-size: 16px !important;
    }
    .solution_section {
        padding-bottom: 70px !important;
    }
    .custom-solution-page #five{
        width: 51% !important;
        left: 30% !important;
        top: 35px !important;
    }
    .custom-solution-page #first {
        width: 51% !important;
        left: 30% !important;
    }
    .custom-solution-page #four {
        order: 2;
        width: 51% !important;
        left: 30% !important;
    }

    .custom-solution-page #third {
        width: 51% !important;
        left: 30% !important;
    }
    .custom-solution-page #six {
        width: 51% !important;
        padding-top: 30px !important;
        left: 30% !important;
    }
    .custom-solution-page .sixth-img {
        top: 196px !important;
        right: 38px !important;
        left: 30% !important;
    }
    .custom-solution-page #second {
        padding-top: 65px !important;
        left: 30% !important;
    }
    .custom-solution-page .fifth-img {
        top: 135px !important;
        right: 54px !important;
        left: 30% !important;
    }
  }

  @media screen and (max-width: 767px){

.solution_section {
    padding-bottom: 0px !important;
}
button.navbar-toggler.colapse-btn {
    right: 110px !important;
}
.solution_detail_points ol li b {
    font-size: 18px !important;
}
ol li.list-bullets {
    font-size: 14px !important;
}
.overview-text h3 {
    padding: 10px 30px !important;
    font-size: 14px !important;
}
.solution_detail_points ol li {
    font-size: 14px !important;
}
.custom-solution-page #four {
    order: 2;
    width: 51% !important;
    left: 30% !important;
}
.custom-solution-page .third-img {
    bottom: 36px !important;
    right: 194px !important;
}
.custom-solution-page .forth-img {
    top: 186px !important;
    right: -54px !important;
}
.custom-solution-page .fifth-img {
    top: 115px !important;
    right: -61px !important;
    left: 30% !important;
}
.custom-solution-page #six {
    width: 51% !important;
    padding-top: 139px !important;
    left: 30% !important;
}
.custom-solution-page .sixth-img {
    top: 300px !important;
    right: -40px !important;
    left: 30% !important;
}
  }


  @media screen and (max-width: 576px){

    .custom-solution-page #first {
    left: 35% !important;
    top: 35px !important;
    display: inline-block !important;
    width: 50% !important;
}
.custom-solution-page  #second {
    left: 35% !important;
    top: -61px !important;
    display: inline-block !important;
    width: 51% !important;
    margin-top: 70px !important;
}
.custom-solution-page #four {
    left: 35% !important;
    top: 5px !important;
    display: inline-block !important;
    width: 51% !important;
}
.custom-solution-page #five {
    left: 35% !important;
    display: inline-block !important;
    width: 51% !important;
    top: -15px !important;
}
.custom-solution-page #six {
    left: 35% !important;
    display: inline-block !important;
    width: 51% !important;
    top: -15px !important;
}
.custom-solution-page #third {
    left: 35% !important;
    top: 8px !important;
    display: inline-block !important;
    width: 51% !important;
}
.custom-solution-page .third-img {
    right: -15px !important;
}
.custom-solution-page .fifth-img {
    right: -72px!important;
}
.custom-solution-page .forth-img {
    right: -41px !important;
}
.custom-solution-page .sixth-img {
    left: 150px!important;
}
a.navbar-brand.nav-logo {
    left: 55px !important;
}
button.navbar-toggler.colapse-btn {
    right: 90px !important;
}


  }
  
  @media screen and (max-width: 375px){
    a.navbar-brand.nav-logo {
        left: 25px !important;
    }
    button.navbar-toggler.colapse-btn {
        right: 40px !important;
    }
    .solution_detail_points ol li b {
        font-size: 15px !important;
    }
    .overview-text h3 {
        padding: 5px 15px !important;
        font-size: 15px !important;
    }
    .custom-solution-page .third-img {
        right: -60px !important;
    }
   
    .custom-solution-page .sec-img {
    top: 171px!important;
    left: 142px !important;
}
.custom-solution-page .third-img {
    right: -65px !important;
}
.custom-solution-page .forth-img {
    right: -55px !important;
}
.custom-solution-page .fifth-img {
    right: -40px!important;
}
.custom-solution-page .sixth-img {
    left: 125px!important;
}
.custom-solution-page #first {
    left: 35% !important;
    top: 35px !important;
    display: inline-block !important;
    width: 50% !important;
}
.custom-solution-page #second {
    left: 35% !important;
    top: -40px !important;
    display: inline-block !important;
    width: 51% !important;
    margin-top: 70px !important;
}
.custom-solution-page #four {
    left: 35% !important;
    top: 5px !important;
    display: inline-block !important;
    width: 51% !important;
}
.custom-solution-page #five {
    left: 35% !important;
    display: inline-block !important;
    width: 51% !important;
    top: 3px !important;
}
.custom-solution-page #third {
    left: 35% !important;
    top: -10px !important;
    display: inline-block !important;
    width: 51% !important;
}
  }
