
.vission-page{
    background-image: url('../images/wallet-bg1.png');
    background-position: center;
    /* height: 130vh; */
    background-size: cover; 
    /* margin-top: 115px; */
    padding-top: 120px !important;
}
.vision-page-heading3{
    color:var(--heading-color);
    text-shadow: 0 0 22px #0391e4;
    font-size:var(--heading-font-size);
    padding-top: 90px !important;
    text-transform: uppercase;
    font-family: var(--heading-font-family);
}
.vision-page-para2{
    color: var(--para-color);
    text-align: var(--para-text-align);
    line-height: var(--para-line-height);
    letter-spacing: var(--para-letter-spacing);
    font-size: 18px;
    width: 80%;
    margin-right: auto;
    font-family: var(--para-font-family);
    margin-top: 30px;
    margin-left: auto;
}

/* cards */
.vision-cards{
    height: 50vh;
}
  .custom-vision-card{
    width: 80%;
  }

  
  /* .card */
  .card-custom-height {
    height: 90%;
    box-shadow: 0 0 7px 0 #0391e4 inset, 0 0 2px 3px #0391e4;
    background-color: #000470 !important;
}
.vision-page-para-card {
    color: var(--para-color);
    line-height: var(--para-line-height);
    letter-spacing: var(--para-letter-spacing);
    font-family: var(--para-font-family);
    padding: 30px 20px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.custom-vision-card-width{
    margin-left: auto;
    margin-right: auto;
}





 

.vision-page-para1{
    color: var(--para-color);
    /* text-align: var(--para-text-align); */
    line-height: var(--para-line-height);
    letter-spacing: var(--para-letter-spacing);
    font-size: 18px;
    font-family: var(--para-font-family);
    margin-top: 30px;
}
.img-fluid{
  width: 300px;
}
.custom-para-vision{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 83%;
    font-family: var(--para-font-family);
    font-size: var(--para-font-size);
}
.custom-para-vision-left{
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 83%;
    font-family: var(--para-font-family);
    font-size: var(--para-font-size);
}
.thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1199px){
    button.navbar-toggler.colapse-btn{
      position: absolute;
      right: 153px !important;
      top: 40px !important;
    }
    .vision-page-heading3{
        font-size: 35px !important;
    }
    .vision-page-para2{
        font-size: 17px !important;
    }
    ul.navbar-nav.mb-2.mb-lg-0.custom-margin.align-items-center {
        margin-top: 100px !important;
        background-color: #000278eb !important;
    }
}


@media screen and (max-width: 991px){
    .vision-page-heading3{
        font-size: 28px !important;
    }
    .vision-page-para2{
        font-size: 16px !important;
    }
    .vision-page-para1{
        font-size: 16px !important;
    }
    .vision-page-para-card{
        text-align: justify !important;
    }
    a.navbar-brand.nav-logo {
        position: absolute;
        top: 37px !important;
        left: 90px !important;
    }
    button.navbar-toggler.colapse-btn {
        position: absolute;
        right: 120px !important;
        top: 40px !important;
    }
    }

    @media screen and (max-width: 767px){
        .vision-page-para-card{
            font-size: 15px !important;
        }
        .img-fluid {
            width: 250px !important;
        }
        /* a.navbar-brand.nav-logo {
            position: absolute;
            top: 37px !important;
            left: 75px !important;
        }
        button.navbar-toggler.colapse-btn {
            position: absolute;
            right: 100px !important;
            top: 40px !important;
        } */
    }

    @media screen and (max-width: 576px){
    button.navbar-toggler.colapse-btn {
        right: 79px !important;
    }
    .vision-page-para1{
        text-align: justify !important;
    }
    .vision-page-para2{
        text-align: justify !important;
    }
    .img-fluid {
        width: 220px !important;
    }
   
    a.navbar-brand.nav-logo {
        position: absolute;
        top: 37px !important;
        left: 50px !important;
    }
    button.navbar-toggler.colapse-btn {
        right: 60px !important;
    }
}
    
            
        @media screen and (max-width: 375px){
            .navbar-dark .navbar-toggler-icon {
                width: 20px !important;
            }
            .vision-page-heading3{
                font-size: 28px !important;
                padding-top: 50px !important;
            }
            .vision-page-para2{
                font-size: 14px !important;
            }
            .vision-page-para1{
                font-size: 14px !important;
        
            }
            .vision-page-para-card{
                text-align: justify !important;
            font-size: 12px !important;
            padding: 15px 5px !important;

            }
            button.navbar-toggler.colapse-btn {
                right: 53px !important;
            }
            a.navbar-brand.nav-logo {
                left: 31px !important;
            }
            .img-fluid {
                width: 200px !important;
            }
            .card-custom-height {
                width: 89%;
                margin-left: auto;
                margin-right: auto;
            }
            }
    

  
  
  
  
  
  
  