.wallet {
  background-image: url(../images/wallet-bg.png);
  position: relative;
  padding-top: 120px;
  background-position: center;
}
.wallet-heading3 h2 {
  color: var(--heading-color);
  text-shadow: 0 0 22px #0099f1;
  font-size: 40px !important;
  text-transform: uppercase;
  padding-top: 90px;
  font-family: var(--heading-font-family);
}
.wallet_custom{
  padding-bottom: 90px;
}
.wallet-img1 {
  padding-bottom: 20px;
}

  .wallet-text h3{
    font-family:var(--sub-font-family);
    line-height:var(--sub-line-height);
    letter-spacing:var(--sub-letter-spacing) ;
    text-align: var(--sub-text-align);
    color: var(--sub-heading-color);
    /* font-size: var(--sub-font-size); */
    font-size: 28px;
  }
  .wallet-text p{
    /* line-height: 1.3; */
    /* font-size: var(--para-font-size); */
  font-size: 18px;
  font-family:var(--para-font-family) ;
  line-height:var(--para-line-height) ;
  letter-spacing:var(--para-letter-spacing) ;
  text-align: var(--para-text-align);
  color: white;
  }
  li.list-wallet{
    /* padding-bottom: 10px !important; */   
    color: var(--para-color);
    text-align: var(--para-text-align);
    line-height: var(--para-line-height);
    letter-spacing: var(--para-letter-spacing);
    font-size: 18px !important;
    font-family: var(--para-font-family);
  }
  .side-img {
    position: absolute;
    left: 24px;
    bottom: 620px;
    transform: rotate(48deg);
}
.side-img img{
  width: 300px;
}

.side-img1{
  position: absolute;
  right: -4px;
  top: 1060px;
}
.side-img1 img{
width: 400px;
}

.side-img2 {
  position: absolute;
  right: 1px;
  top: 120px;
}
.side-img2 img {
  width: 515px;
}


@media screen and (max-width: 1199px){
  button.navbar-toggler.colapse-btn{
    position: absolute;
    right: 153px !important;
    top: 40px !important;
  }
  .wallet-heading3 h2{
    font-size: 35px !important;
  }
  .wallet-text p{
    font-size: 17px !important;
  }
  .wallet-img1 img{
      width: 680px !important;
      padding-bottom: 30px !important;
      padding-top: 10px !important;
  }
  ul.navbar-nav.mb-2.mb-lg-0.custom-margin.align-items-center {
    margin-top: 100px !important;
    background-color: #000278eb !important;
}
  .nav-links {
    width: 100%;
    height: 60vh !important;
    justify-content: center !important;
    background-color: #000278eb !important;
    top: 20px !important;
}
  }

  @media screen and (max-width: 991px){
    .wallet-heading3 h2{
      font-size: 28px !important;
    }
    .wallet-text p{
      font-size: 16px !important;
    }
    .wallet-img1 img{
        width: 650px !important;
        padding-bottom: 30px !important;
        padding-top: 10px !important;
    }
    .wallet_custom {
      padding-bottom: 55px !important;
  }
    }

  
  @media screen and (max-width: 767px){
  .wallet-img1 img {
      width: 510px !important;
      padding-bottom: 30px !important;
      padding-top: 10px !important;
  }
  .wallet-heading3 h2 {
    padding-top: 70px !important;
}
button.navbar-toggler.colapse-btn {
  right: 130px !important;
}

.wallet-text h3 {
    font-size: 25px !important;
   
}
li.list-wallet {
  font-size: 16px !important;
}
.wallet-text p{
  font-size: 16px !important;
}
a.navbar-brand.nav-logo {
  left: 107px !important;
}
}

  
@media screen and (max-width: 576px){
  .wallet-img1 img {
      width: 510px !important;
      padding-bottom: 30px !important;
      padding-top: 10px !important;
  }
  button.navbar-toggler.colapse-btn {
    right: 55px !important;
}
.wallet-heading3 h2 {
  padding-top: 60px !important;
}

.wallet-text h3 {
    font-size: 25px !important;
}
li.list-wallet {
  font-size: 16px !important;
}
.wallet-text p{
  font-size: 14px !important;
}
a.navbar-brand.nav-logo {
  left: 30px !important;
}
}
@media screen and (max-width: 375px){
  .wallet-heading3 h2{
    font-size: 25px !important;
    padding-top: 40px;
  }
  .wallet-text h3 {
    font-size: 20px !important;
}
li.list-wallet {
  font-size: 14px !important;
}
.wallet-heading3 h2 {
  padding-top: 70px;
}
.wallet-img1 img {
  width: 350px !important;
}
button.navbar-toggler.colapse-btn {
  right: 30px !important;
}
.wallet-img1 img {
  padding-top: 10px !important;
}
.wallet-img1  {
  padding-bottom: 0px !important;
}
}



  /*
--sub-heading-color: white;
--sub-font-size: 40px;
--sub-font-family: 'argentum-sans-medium';
--sub-line-height: 1.2;
--sub-letter-spacing: 1px;
--sub-text-align: justify;


--heading-color: #0391e4;
--heading-font-family: 'Harabara-Mais-bold';
--heading-font-size: 40px; */